<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Auction System</title>

    <!-- Bootstrap core CSS -->{% static "first_app/img/profile.jpg"%}
    <link href = {% static "first_app/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href= {% static "first_app/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href= {% static "first_app/vendor/magnific-popup/magnific-popup.css" %} rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href= {% static "first_app/css/freelancer.min.css" %} rel="stylesheet">
    <style media="screen">
      #dashboard_div{
        min-height: 400px;
      }
      .aParent div {
    float: left;
    clear: none;
    }

    /*  bid button alignment*/
    .bid_div_button {
    text-align: center;
    }
    </style>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'first_app:index' %}">OnlineAuctionSystem</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {% block navbarr %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"  href = "{% url 'first_app:signup' %}">Sign Up</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href = "{% url 'first_app:login' %}" >Login</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'first_app:seller_login' %}">Seller Login</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'first_app:seller_signup' %}">Seller Signup</a>
            </li>
          </ul>
          {% endblock %}
        </div>
      </div>
    </nav>

    {% block header%}
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src={% static "first_app/img/profile.jpg"%} alt="">
        <h1 class="text-uppercase mb-0">Online Auction System</h1>
        <hr class="star-light">
        <!-- <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2> -->
      </div>
    </header>
    {% endblock%}

    {% block content %}
      {% endblock %}

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">MMMUT Campus, Gorakhpur
              <br>Pin: 273010</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://www.facebook.com/pg/Online-Auction-System-371189693359339">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About</h4>
            <p class="lead mb-0">OnlineAuctionSystem is a free to use Website, Here Seller/Buyer cab Sell/Buy product with Auction
            <br>  <a href="{% url 'first_app:index' %}">Github Link</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Online Auction System</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src={% static "first_app/vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "first_app/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

    <!-- Plugin JavaScript -->
    <script src= {% static "first_app/vendor/jquery-easing/jquery.easing.min.js" %}></script>
    <script src= {% static "first_app/vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>

    <!-- Contact Form JavaScript -->
    <script src= {% static "first_app/js/jqBootstrapValidation.js" %}></script>
    <script src= {% static "first_app/js/contact_me.js" %}></script>

    <!-- Custom scripts for this template -->
    <script src= {% static "first_app/js/freelancer.min.js" %}></script>

  </body>

</html>
